# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual environments
# =========================
venv/
env/
.tf-ml/
tf-ml/

# =========================
# Jupyter / IDE
# =========================
.ipynb_checkpoints/
.vscode/
.idea/

# =========================
# ML artifacts (DO NOT PUSH)
# =========================
models/
checkpoints/
*.onnx

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs & temp
# =========================
*.log
